backend.pem
backend/*.pem
backend/postgres
.vscode
backend/app.log
backend/backup.log
backend/trades
backend/node_modules
backend/.serverless
backend/bin
backend/backu
backend/stocks
backend/bootstrap
